*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif, "Press Start 2P", cursive;
  background-color: rgb(20, 20, 20);
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.red-logo-text {
  color: rgb(232, 25, 25);
  font-size: 20px;
  font-weight: bold;
}

.aboutme i {
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
  color: rgb(221, 231, 238);
}
.aboutme h2 {
  text-align: center;
  text-transform: uppercase;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  font-family: "Press Start 2P", cursive;
  padding-top: 10px;
  color: rgb(21, 20, 20);
}
.aboutme .underline {
  margin: 0 auto;
  width: 240px;
  height: 4px;
  background-color: rgb(232, 25, 25);
}
.aboutme .aboutme-card-description {
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: justify;
}
.aboutme .aboutme-card-title {
  font-size: 23px;
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 35px;
}
.aboutme .aboutme-card-title-1 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.aboutme .aboutme-icon {
  margin: 15px 0;
}
.aboutme .aboutme-hover {
  transition: background-color 0.3s;
}
.aboutme .aboutme-hover:hover {
  background-color: rgba(0, 0, 0, 0.424);
}
.aboutme .aboutme-img {
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  background-image: url("../img/board-small.jpg");
  color: aliceblue;
}
.aboutme .aboutme-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -2;
}
.aboutme .photo-sylwek {
  padding-bottom: 50px;
}

.aboutme-underline {
  width: 100vh;
  height: 4px;
  background-color: rgb(232, 25, 25);
}

.services i {
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
  color: rgb(21, 20, 20);
}
.services .services-card-title {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(21, 20, 20);
}
.services .services-card-title-1 {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(21, 20, 20);
}
.services .services-card-text {
  font-size: 15px;
  text-align: center;
  color: rgb(21, 20, 20);
}
.services .services-hover {
  transition: background-color 0.3s;
}
.services .services-hover:hover {
  background-color: aquamarine;
}
.services .services-carusel {
  padding-top: 40px;
}
.services .carousel-item {
  position: relative;
  height: 600px;
}
.services .carousel-caption {
  position: absolute;
  background-color: rgb(21, 20, 20);
  left: 0px;
  right: 0px;
  padding: 40px 0px;
}
.services .carousel-indicators {
  padding-bottom: 20px;
}
.services .card-group {
  padding-top: 50px;
}
.services .card-img-top {
  height: 180px;
}

.container-price h2 {
  color: rgb(221, 231, 238);
}

p.services-card-title.p-price {
  color: rgb(221, 231, 238);
}

.map {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.price-wrap {
  margin-top: 0px;
}

.price-box {
  padding: 30px;
  background-color: rgb(246, 250, 250);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  margin: 15px;
}
.price-box h3 {
  font-size: 20px;
  color: rgb(21, 20, 20);
  text-transform: uppercase;
  font-weight: bold;
}
.price-box span {
  font-weight: bold;
}

div.row.text-center {
  padding: 20px;
}

nav {
  text-transform: uppercase;
  width: 100%;
  transition: background-color 0.6s;
  background-color: rgb(21, 20, 20);
  z-index: 1;
}
nav a.nav-link.btn {
  color: rgb(221, 231, 238);
}
nav a.nav-link.btn:hover {
  color: rgb(228, 176, 35);
}
nav a.nav-link.btn.active {
  color: rgb(228, 176, 35);
}
nav i {
  color: rgb(221, 231, 238);
  font-size: 20px;
  padding-top: 10px;
}
nav a.navbar-brand {
  color: rgb(221, 231, 238);
  font-weight: bold;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
}
nav .fa-bars {
  padding: 10px;
  padding-right: 24px;
}

header {
  color: rgb(221, 231, 238);
}
header h1 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: rgb(232, 25, 25);
  font-family: "Press Start 2P", cursive;
}
header p {
  font-size: 16px;
  font-weight: bold;
}
header .red-text {
  color: rgb(232, 25, 25);
}
header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/pc_fix_small.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -2;
}
header .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 1;
  padding: 10px;
  text-align: center;
}
header .btn-outline-light {
  text-transform: uppercase;
}
header .fa-chevron-down:before {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
  font-size: 40px;
  color: rgb(221, 231, 238);
}

@media (min-width: 375px) {
  .red-logo-text {
    color: rgb(232, 25, 25);
    font-size: 18px;
    font-weight: bold;
  }
  .div.hero-text {
    height: 100%;
  }
  nav a.navbar-brand {
    color: rgb(221, 231, 238);
    font-weight: bold;
    font-size: 18px;
  }
  h2 {
    font-size: 18px;
  }
  header h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: rgb(232, 25, 25);
  }
  header p {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .red-logo-text {
    color: rgb(232, 25, 25);
    font-size: 35px;
    font-weight: bold;
  }
  nav a.navbar-brand {
    color: rgb(221, 231, 238);
    font-weight: bold;
    font-size: 35px;
  }
  .fa-microchip:before {
    font-size: 25px;
  }
  nav a.nav-link.btn {
    font-size: 20px;
  }
  header h1 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    color: rgb(232, 25, 25);
  }
  header p {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  header .hero-img {
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../img/pc_fix_big.jpg");
  }
  .aboutme-img {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
    background-image: url("../img/board-big.jpg");
    color: aliceblue;
  }
}/*# sourceMappingURL=main.css.map */