$backgroud-color-dashbord: rgb(20, 20, 20);
$white-font: rgb(221, 231, 238);
$yellow-hover: rgb(228, 176, 35);
$red-text: rgb(232, 25, 25);
$service-hover: aquamarine;
$nav-color: rgb(21, 20, 20);
$aboutme-hover: rgba(0, 0, 0, 0.424);
